WEB_PORT=3000
API_PORT=4000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tripstack1234
DB_NAME=tripstack
ADMIN_SIGNUP_CODE=tripstack-admin
JWT_SECRET=change-this-tripstack-secret
GEOAPIFY_API_KEY=
NEXT_PUBLIC_GEOAPIFY_API_KEY=
